@import "mixin.scss";
@import "variables.scss";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  text-align: center;
}
* a {
  text-decoration: none;
  color: white;
}

.main {
  margin: 0;
  padding: 0;
  @include flexbox-center;
  flex-direction: column;
}
/*loader*/
.contain {
  margin: auto;

  background-color: white;
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: loader 0.05s;
  animation-delay: 2.3s;
  animation-duration: 2.3s;
  transition-duration: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}
.loader {
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  align-content: center;
  div {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: 4px solid $color-primary;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes loader {
    0% {
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 4.5rem;
      height: 4.5rem;
      opacity: 0;
      visibility: hidden;
    }
  }
}


/* HEADER */
.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  @include flexbox-center();
  height: 5rem;
  width: 100%;
  &__title {
    font-family: "Shrikhand", cursive;
    margin: 0;
    color: black;
  }
}

/* MAIN */
.main {
  margin: 0;
  padding: 0;
  @include flexbox-center;
  flex-direction: column;
}

/* localisation */
.localisation {
  @include flexbox-center();
  background: #f3f3f3;
  color: #7a7a7a;

  &__city {
    margin-left: 1rem;
    font-weight: 400;
  }
}

/* introduction */
.introduction {
  background: #fafafa;
  width: 100%;
  &__container {
    width: 100%;
    padding: 20px;
    @include flexbox-center();
    flex-direction: column;
    padding: 50px 0;
  }
  &__title {
    text-align: center;
    max-width: 250px;
    margin: 0;
  }
  &__text {
    text-align: center;
  }
  &__btn {
    @include btn-style;
    &:hover {
      @include btn-hover;
    }
  }
}

/* process */
.process__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  @include flexbox-center;
  flex-direction: column;
}

.process {
  width: 95%;
  max-width: 1024px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  &__title {
    margin: 0;
    text-align: left ;
  }
  &__step {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    &:hover {
      @include btn-hover;
      background: #E4CEFF;
      .process__icon{
        color: $color-primary;
      }
    }
  }
  &__number {
    background-color: $color-primary;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    transform: translateX(-50%);
  }
  &__icon {
    color: #7e7e7e;
    margin: 0 20px;
    /*&:hover {
      @include btn-hover;
      color: $color-primary;
    }*/
  }
  &__steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* restaurants */
.restaurants {
  display: flex;
  flex-wrap: wrap;
  background: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1024px;

  h2 {
    font-weight: bold;

    @media (max-width: 425px) {
      margin-left: 10px;
    }
    @media (min-width: 426px) and (max-width: 1024px) {
      margin-left: 20px;
    }
  }

  .restaurant__contain {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .restaurants__cards {
      margin-top: 50px;
      margin-right: 10px;
      width: 700px;
      position: relative;
      height: 300px;
      border-radius: 1rem;
      box-shadow: 3px 3px 6px 3px rgb(180, 180, 180);
      @media (min-width: 768px) {
        max-width: 90%;
        height: 300px;
      }
      @media (max-width: 767px) {
        width: 100%;
        height: 280px;
      }
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.01);
        box-shadow: 4px 4px 7px 4px rgb(180, 180, 180);
      }

      a {
        cursor: pointer;
        span {
          display: block;
          width: auto;
          position: absolute;
          right: 15px;
          top: 15px;
          justify-content: initial;
          background: $color-tertiary;
          color: #1b6150;
          padding: 0.5rem;
          border-radius: 0.2rem;
        }
        img {
          height: 220px;
          width: 100%;
          border-radius: 1rem 1rem 0 0;
          object-fit: cover;

          @media (max-width: 1024px) {
            width: 100%;
            height: 220px;
          }
          @media (max-width: 425px) {
            width: 100%;
            height: 180px;
          }
        }

        .description {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 20px;

          h3 {
            font-size: 20px;
            color: #333;
            margin-bottom: 5px;
          }

          p {
            position: absolute;
            padding-top: 50px;
            color: #333;
          }

          @import "heart.scss";
        }
      }
    }
  }
}
/* FOOTER */
@import "footer.scss";
