body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
}
* a {
  text-decoration: none;
  color: white;
}
.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #9356dc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 2.25rem;
    left: 2.25rem;
    width: 0;
    height: 0;
    opacity: 1;
 }
  100% {
    top: 0px;
    left: 0px;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0;
 }
}
/* HEADER */
.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
}
.header__title {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  color: black;
}
/* MAIN */
.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* localisation */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
}
.localisation__city {
  margin-left: 1rem;
  font-weight: 400;
}
/* introduction */
.introduction {
  background: #fafafa;
  width: 100%;
}
.introduction__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.introduction__title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.introduction__text {
  text-align: center;
}
.introduction__btn {
  opacity: 1;
  background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.introduction__btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
/* process */
.process__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.process {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin: 0;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.process__step:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: #fff;
}
.process__number {
  background-color: #9356dc;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7e7e7e;
  margin: 0 20px;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* restaurants */
.restaurants {
  display: flex;
  flex-wrap: wrap;
  background: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-left: 150px;
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 450px) {
  .restaurants h2 {
    margin-left: 10px;
 }
}
.restaurants .restaurants__contain {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants .restaurants__contain .restaurants__cards {
  margin-top: 50px;
  margin-right: 10px;
  width: 700px;
  position: relative;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px 3px #b4b4b4;
}
@media (max-width: 1616px) {
  .restaurants .restaurants__contain .restaurants__cards {
    width: 400px;
    height: 300px;
 }
}
@media (max-width: 1089px) {
  .restaurants .restaurants__contain .restaurants__cards {
    width: 90%;
    height: 300px;
 }
}
@media (max-width: 450px) {
  .restaurants .restaurants__contain .restaurants__cards {
    width: 100%;
    height: 250px;
 }
}
.restaurants .restaurants__contain .restaurants__cards:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
  box-shadow: 4px 4px 7px 4px #b4b4b4;
}
.restaurants .restaurants__contain .restaurants__cards a {
  cursor: pointer;
}
.restaurants .restaurants__contain .restaurants__cards a span {
  display: block;
  width: auto;
  position: absolute;
  right: 15px;
  top: 15px;
  justify-content: initial;
  background: var(--green);
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.restaurants .restaurants__contain .restaurants__cards a img {
  height: 220px;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
@media (max-width: 1089px) {
  .restaurants .restaurants__contain .restaurants__cards a img {
    width: 100%;
    height: 220px;
 }
}
@media (max-width: 450px) {
  .restaurants .restaurants__contain .restaurants__cards a img {
    width: 100%;
    height: 180px;
 }
}
.restaurants .restaurants__contain .restaurants__cards a .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.restaurants .restaurants__contain .restaurants__cards a .description h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}
.restaurants .restaurants__contain .restaurants__cards a .description p {
  position: absolute;
  padding-top: 50px;
  color: #333;
}
.restaurants .restaurants__contain .restaurants__cards a .description .far.fa-heart {
  color: #333;
  font-size: 30px;
  opacity: 1;
  transition: 0.2s ease-out;
}
@media (max-width: 991px) {
  .restaurants .restaurants__contain .restaurants__cards a .description .far.fa-heart {
    font-size: 26px;
 }
}
.restaurants .restaurants__contain .restaurants__cards a .description .far.fa-heart:hover {
  animation: 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
/* FOOTER */
.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer__bloc-link i {
  margin-right: 7px;
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}
